@page "/learnBlazor/bindprop" 
@rendermode InteractiveServer //solution for making bind work (update the price product, line 10) //line 8 : is it active? if so states active or else (":") state inactive

<h3>BindProp - Data Binding</h3> 

Name : @Product.Name <br />
IsActive : @Product.IsActive<br />
This Product is : @(Product.IsActive ? "Active" : "InActive")<br />
Price : @Product.Price <br />
IsActive:<input type="checkbox" @bind-value="Product.IsActive" checked="@(Product.IsActive?"checked":null)" /> <br />
Input Price:<input type="number" @bind="Product.Price" @bind:event="oninput"/>

<select>
    @foreach(var prop in Product.ProductProperties)
    {
        <option value="@prop.Key">@prop.Value</option> //adding option value
    }
</select>


@code {
    Model.Product Product = new()
    {
        Id = 1,
        Name = "Product 1",
        IsActive = true, 
        Price = 5,
        ProductProperties = new List<Model.Product_Prop>()
        {
            new Model.Product_Prop{Id=1, Key="Color", Value="Red" },
            new Model.Product_Prop{Id=2, Key="Size", Value="20oz" },
            new Model.Product_Prop{Id=3, Key="Flavor", Value="Rose" },
        }
    };
}
